// Styling for the call to action section
section.cta {
    #CreateSession{
        color: white;
    }

    position: relative;
    padding: 250px 0;
    background-color: black;
    background: url('../img/bg-pattern.png'), $theme-tertiary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-primary);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-primary);
    background-position: center;
    .cta-content {
        position: relative;
        z-index: 1;
        h2 {
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: white;
        }
        @media (min-width: 768px) {
            h2 {
                font-size: 80px;
            }
        }
    }

    .form-control-plaintext::placeholder {
        color: white;
    }

    .container {
        color: white;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(black, .8);
    }
}
