// Stylyng for the impressum
body {
  .impressum {
    a {
      color: $theme-primary;
      @include transition-all;
      &:hover,
      &:focus {
        color: darken($theme-primary, 10%);
      }
    }
    img{
      border: solid white;
      border-radius: 1px ;
      margin: 2px;
      background-color: white;
    }

    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background: url('../img/bg-pattern.png'), $theme-secondary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);

    .header-content {
      max-width: 500px;
      margin-bottom: 100px;

      text-align: center;

      h1 {
        font-size: 30px;
      }
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
      margin-bottom: 0;

      text-align: left;

      h1 {
        font-size: 50px;
      }
    }
  }
}