// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #0A8080;
$theme-secondary: #4b4b4b;
$theme-tertiary: #7f09bf;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-gitlab:  	#fd7e14;
$brand-github:  	#444444;